<!DOCTYPE html>
<html>
  <head>
    <title>Voice/Fongbè Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  	<script type="module" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
  	<script nomodule src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine-ie11.min.js" defer></script>
	  <!-- AOS -->
	  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	  <!-- Custom style -->
	 <!--  <link rel="stylesheet" href="css/skilline.css" />-->
	  <!-- Poppins font -->
	  <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> 
    <%= stylesheet_link_tag 'skilline', "data-turbo-track": "reload"  %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="antialiased">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      
      <%= yield %>
  
  </body>
</html>
